In [ ]:
l=input("Enter A or B or C  :  ")

if l=="A":
  print("The letter is A")
elif l=="B":
  print("The letter is B")
elif l=="C":
  print("The letter is C")
else:
  print("The letter is not A,B or C")

Enter A or B or C  :  A
The letter is A

In [ ]:
a=[1,2,3,4]

if isinstance(a, list):
  print("Object is a list ")
else:
    print("Object is not a list")

Object is a list

In [ ]:
while a:
  print(a.pop())

4
3
2
1

In [ ]:
count=0
while(count<5):
  count+=1
  print("Hello Grek")

Hello Grek
Hello Grek
Hello Grek
Hello Grek
Hello Grek

In [ ]:
for i in range(0,10,2):
  print(i,end=" ")
print()

0 2 4 6 8

In [ ]:
x=[1,2]
y=[4,5]

for i in x:
  for j in y:
    print(i,j)

1 4
1 5
2 4
2 5

In [ ]:
for i in range(2,4):
  for j in range(1,11):
    print(i,"*",j,"=",i*j)
print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
list1=['I am ','You are']
list2=['healthy','fine','geek']

list2_size=len(list2)

for item in list1:
  print('start outer for loop')
  i=0
  while(i<list2_size):
    print(item, list2[i])
    i=i+1
  print('end for loop')

start outer for loop
I am  healthy
I am  fine
I am  geek
end for loop
start outer for loop
You are healthy
You are fine
You are geek
end for loop

In [ ]:
a=10
b=10
c=-10

if a>0 and b>0:
  print("The numbers are greater than 0")

if a>0 and b>0 and c>0:
  print("The numbers are greater than 0")

else:
  print("At least one number is greater than 0")

The numbers are greater than 0
At least one number is greater than 0

In [ ]:
a=10
b=-10
c=0

if a>0 and b>0:
  print("Either of the number is greater than 0")
else:
  print("No number is greater than 0")



if b>0 or c>0:
  print("Either of the number is greater than 0")
else:
  print("No number is greater than 0")

No number is greater than 0
No number is greater than 0

In [ ]:
def order(x):
  print("Method called for value: ",x)
  return True if x>0 else False

a=order
b=order
c=order

if a(-1) or b(5) or c(10):
  print("At least one of the number is positive")

Method called for value:  -1
Method called for value:  5
At least one of the number is positive

In [ ]:
x=5
y=5

print(x is y)
id(x)
id(y)

True

136102288130416

In [ ]:
a=10
b=4

print("a & b = ", a & b)

print("a | b = ",a | b)

print("~a = ", ~a)

print("a^b = ", a^b)

a & b =  0
a | b =  14
~a =  -11
a^b =  14

In [ ]:
a=10
b=-10

print("a >> 1 ",a>>1)

print("b>>1=",b>>1)

a=5
b=-10

print("a<<1=",a<<1)
print("b<<1=",b<<1)

a >> 1  5
b>>1= -5
a<<1= 10
b<<1= -20

In [ ]:
num = int(input("Enter number:"))

for i in range(0, num):
    for j in range(0, num):
        print("*", end="")
    print()

Enter number:5
*****
*****
*****
*****
*****

In [ ]:
n=10
for i in range(n,-1,-1):
  print(i,end=" ")

10 9 8 7 6 5 4 3 2 1 0