In [ ]:

age = 30
print(age)

30

In [ ]:
name = "ruma"
print(name)

ruma

In [ ]:
cloud = {
    "name": "ruma",
    "age": 24,
    "title": "cloud intern",
     "depertment": "cse",
    "office": "inflexionpoint bd"

}
print(cloud)

{'name': 'ruma', 'age': 24, 'title': 'cloud intern', 'depertment': 'cse', 'office': 'inflexionpoint bd'}

In [ ]:
number = 42

number2= str(number)

result2 = "The number is: " + number2

print(result2)

The number is: 42

In [ ]:
ruma = 5
ava = 10

#print("ruma:", ruma)
#print("ava:", ava)
if ruma < ava:
    print("ruma is less than ava.")
elif ruma > ava:
    print("ruma is greater than ava.")
else:
    print("ruma is equal to ava.")

ruma is less than ava.

In [ ]:

ruma = 5
ava = 7

sum = ruma + ava

print("The sum of", ruma, "and", ava, "is:", sum)

The sum of 5 and 7 is: 35

In [ ]:


import random


names = ["ruma", "ava", "faisal", "sume", "mehedi", "adiii"]

ran_name = random.choice(names)
ran_name2 = random.choice(names)


print("Randomly select name:", ran_name)
print("Randomly select name:", ran_name2)

Randomly select name: mehedi
Randomly select name: sume

In [ ]:

import random
name = ['ruma', 'ava', 'toma']
pick_name = random.choice(names)

print(" select name: ", pick_name)

 select name:  ava

In [ ]:
n= 5
for i in range(n):
    print("loop:", i)

loop: 0
loop: 1
loop: 2
loop: 3
loop: 4

In [ ]:
counter = 0

while counter < 10:
    print("Counter:", counter)
    counter += 1

Counter: 0
Counter: 1
Counter: 2
Counter: 3
Counter: 4
Counter: 5
Counter: 6
Counter: 7
Counter: 8
Counter: 9

In [ ]:
for num in range(1, 11):
    if num % 2 == 0:
        print("Even number:", num)

Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10

In [ ]:
for num in range(1, 11):
    if num % 2 != 0:
        print("Odd number:", num)

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

In [ ]:
for num in range (0, 10):
  if num % 2 == 0:
    print (num)

0
2
4
6
8

In [ ]:
for i in range(5):
  print("loop", i)

loop 0
loop 1
loop 2
loop 3
loop 4

In [ ]:
ruma = 10
ava = 20

mul = ruma * ava
print(mul)

200

In [ ]:
ruma = [1,2,3]

print(ruma)

[1, 2, 3]

In [ ]:
ruma = 10
ava = 20

if ruma < ava :
   print("ruma less then ava" )
elif ruma > ava:
   print("ruma greater then ava")
else :
  print (" both equal")

ruma less then ava

In [ ]:
ruma = 0
while ruma< 10:
  print("ruma", ruma)
  ruma += 1

ruma 0
ruma 1
ruma 2
ruma 3
ruma 4
ruma 5
ruma 6
ruma 7
ruma 8
ruma 9

In [ ]:
# 9/13/2023 next din exam
print(" my name is ruma")

print("this is nothing ** but a mere game", end = "")
print(" my name is ruma")
print(" my name is ruma")

 my name is ruma
this is nothing ** but a mere game my name is ruma
 my name is ruma

In [ ]:
print("this is nothing but a mere game", end = " * ruma *")

this is nothing but a mere game * ruma *

In [ ]:
print("An example")

An example

In [ ]:
print("This will add the next line to this line.", end=" ")

This will add the next line to this line.

In [ ]:
print("This will add the next line to this line.", end=" ")
print("This is the next line")

This will add the next line to this line. This is the next line

In [ ]:
print("this will add the next line to this line.", end = " Hello Ruma ")
print("this is the line")

this will add the next line to this line. Hello Ruma this is the line

In [ ]:
age = 24
salary = 4000.0
name = " ruma"

print(age)
print(salary)
print(name)
my_varibale = type(salary)
print(" data type", my_varibale)

24
4000.0
 ruma
 data type <class 'float'>

In [ ]:

my_variable = 42

variable_type = type(my_variable)

print("The data type of my_variable is:", variable_type)

The data type of my_variable is: <class 'int'>

In [ ]:
a = b = c= 10

print(a)
print(b)
print(c)

10
10
10

In [ ]:

a,b,c=1,20.2, "sdhgdhs"
var_type = type(c)
print(a)
print(b)
print(c)
print("var type", var_type)

1
20.2
sdhgdhs
var type <class 'str'>

In [ ]:
a = 10
a = "sjhjfhsdhfgd"

var = type(a)

print(var)

<class 'str'>

In [ ]:
a= 10
b =20
print (a+b)

a="sjhfud"
b= " geeks"
print(a+b)

30
sjhfud geeks

In [ ]:
a = 10
b = "sgsdg"
result = str(a) + b
print(result)

10sgsdg

In [ ]:
val = input("enter your value")
print(val)

enter your valueruma
ruma

In [ ]:
val = input ("what is your salary")
print(val)

what is your salary4000
4000

In [2]:
num_str = input("What is your salary: ")
num = float(num_str)
print("Type of salary:", type(num))
print("Salary:", num)

What is your salary: 4000
Type of salary: <class 'float'>
Salary: 4000.0

In [ ]:

user_input = input("Enter something: ")

print(f'The type of the input is: {type(user_input)}')

Enter something: 40.0
The type of the input is: <class 'str'>

In [ ]:
n = int(input("Enter the size of list: "))
lst = list (map(int, input( "enter the int elemenet list (space-separate): ").strip().split()))[:n]
print("the list is =", lst )

Enter the size of list: 3
enter the int elemenet list (space-separate): 1 2 3 4 5 6 7 8
the list is = [1, 2, 3, 4, 5]

In [ ]:
#exam
n = int(input("Enter the size of list: "))
lst= list(map(int, input(" Enter the integer elements of list(Space-Separated): ").strip().split()))[:n]
print(" the list: ", lst)

enter list number: 2
 space separe: 1 2 3 4 5
 the list:  [1, 2]

In [ ]:
a= 10
b = 30
c = 10.1
print(a+b)
print(a*b)
print(a-c)
print(a/b)

40
300
-0.09999999999999964
0.3333333333333333

In [ ]:
print(type([]) is list)
print(type([]) is not list)
print(type([]) is tuple)
print(type([]) is dict)
print(type([]) is not dict)
print(type([]) is not list)

True
False
False
False
True
False

In [ ]:
#exam
s = "10010"
c = int(s,2)
print ("After converting to integer base 2: ", end = " ")
print(c)

e=float(s)
print("after converting to float: ", end= " ")
print(e)

After converting to integer base 2:  18
after converting to float:  10010.0